@model AksesuarSat_V1.Models.Urunler

@{
    ViewBag.Title = "UrunSil";
    Layout = "~/Areas/AdminPaneli/Views/Shared/AdminLayout.cshtml";
}


<div class="header" style="background-color:#009688;text-align:center;color:white;">
    <h2 style="color:white;">ÜRÜN SİL</h2>
</div>

<h3>Ürün silinirken</h3>
<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UrunAdi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UrunAdi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BirimFiyat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BirimFiyat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EklenmeTarihi)
        </dt>

        <dd> @Html.DisplayFor(model => model.EklenmeTarihi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Aciklama)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Aciklama)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Kategoriler.KategoriAdi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kategoriler.KategoriAdi)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="SİL" class="btn btn-danger" />
            @Html.ActionLink("Listeye Dön", "UrunListesi",null,new {@class="btn btn-warning" })


        </div>
    }
</div>
