@model AksesuarSat_V1.Models.UrunFiyatlari

@{
    ViewBag.Title = "UrunFiyatlariDetay";
    Layout = "~/Areas/AdminPaneli/Views/Shared/AdminLayout.cshtml";
}

<div class="header" style="background-color:#009688;text-align:center;color:white;">
    <h2 style="color:white;">ÜRÜN FİYATLARI DETAY</h2>
</div>
<div>

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UrunAlisFiyati)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UrunAlisFiyati)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UrunSatisFiyati)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UrunSatisFiyati)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FiyatBaslangicTarihi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FiyatBaslangicTarihi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FiyatBitisTarihi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FiyatBitisTarihi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Aciklama)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Aciklama)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Urunler.UrunAdi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Urunler.UrunAdi)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.UrunFiyatlariID }, new { @class = "btn-sm btn-success" }) |
    @Html.ActionLink("Listeye Geri Dön", "UrunFiyatlariListesi", null, new { @class = "btn-sm btn-success" })
</p>
